html
  head
    title= title
    link(href='/css/style.css', rel='stylesheet')
    link(rel='stylesheet', href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/themes/base/jquery-ui.css', type='text/css', media='all')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js', type='text/javascript')
    script(src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.min.js', type='text/javascript')
    script(src='/js/socket.io.js', type='text/javascript')
    script(type='text/javascript').
      var socket = io.connect('#{IP}');
      $(document).ready(function ($) {
        if (jQuery.ui) {
            console.log('found jq ui')
        } else {
            alert("no jquery ui")
        }
      });
      var enableSubmit = function(e){
        var inp = $(e.target).data('for');
        var btn = document.getElementById(inp);
        $(btn).prop('disabled', false)
      }
  body
    h2 Welcome to the Smart Flash Card user study!
    div.holder
      div.text
          //p
            //b INTRODUCTION:
            //|  We are researchers at Johns Hopkins University doing a study on how to teach vocabulary via smart sequencing of flash cards. All data collected in this study is purely for research.
          p
            b GOAL:
          p
            | Your goal is learn the verb conjugation paradigm for a foreign languaage. 
            | In this task, you will first go through the a preparation phase.
            | Once you are ready quiz will be presented to you.
            | Yout goal is to prepare as quickly as possible and also to get as many quiz items correct.
          p
            b Preparation Phase: 
            |  You will be presented a grid of flash-cards. On each card you will see a phrase, in either English or in the foreign language.
            | These interactive flash-cards allow you to either:
            ul
              li Flip the card by clicking anywhere on a card
              li practice with a multiple-choice question by clicking the letters "MC" at the bottom of the card
              li practice with a typing question by clicking the letters "TP" at the bottom of the card

            | You can select any flash-card and perform one of the actions listed above. 
            | There is no restriction on what order you decide to study the phrases.
            | However, each action has differnt costs:
            ul
              li Flip action costs 
                b $0.05
              li Multiple-Choice costs 
                b $0.02
              li Typing actions costs 
                b $0.0
          p
            b Quiz Phase: 
            |  When you are ready to take the quiz click the "Take Quiz" link at the bottom of the  grid of flash-cards
            | You will then be presented new phrases with a input text box.
            | You have to type in your best guess for the translation of each phrase.
            b You may ignore accents in your typed answers.
            ul
              li 
                b Each correct answer will give you $0.15
              li 
                b Each wrong answer will cost you $0.05

            //b CONFIDENTIALITY:
            //|  The response records will be kept confidential. Your Amazon user id will be saved during the duration of the study and deleted after compensation is given out. Any reports, presentations or papers resulting from this study will not contain information that could identify you.
          //p 
            //b COMPENSATION & BONUS:
            |  We will pay participants $2 for completing the flash card sequence and quiz. The entire process will take between #{time_min} - #{time_max} minutes. The top performing participants will get an additional bonus of $10. Performance is measured based on the test score and accuracy through the training sequence.
          p
            form
              b HELPFUL HINTS:
              ul
                li Clicking on every flash card might be wasteful.
                li Select your flash-cards carefully, think about what you already know and how best to learn new aspects of the verb conjugation.
                li
                  b Demo:
                  |   you can go through a demo version of the practice and quiz: 
                  input(type='hidden', name='username' onkeyup='enableSubmit(event)', data-for='submitButtonDemo', value='demoUser')
                  input(type='hidden', name='isDemo' value='true')
                  button.submitlink#submitButtonDemo(formaction='/start') 
                    b Here
            
          p
            form
              b Mechanical Turk Worker ID:
              input(type='text', name='username' onkeyup='enableSubmit(event)', data-for='submitButtonFull')
              input(type='hidden', name='isDemo' value='false')
              br
              | (to ensure payment, enter your mechanical turk UserID correctly)
              br
              button#submitButtonFull(formaction='/start', disabled='disabled') 
                b Start Task
